body{
  margin: 0;
}

.container{
  display: inline-block;
  justify-self: center;
  margin-top: 20px;
  margin-left: 250px ;
  padding: 20px;
  width: 550px;
  height: 450px;
  background-image: url(jony-y-uc4pFSDHmfo-unsplash.jpg);
  background-size: cover;
  /* background-position-y:bottom; */
  border: 1px solid black;
}

.b-content{
  text-align:center;
  color: #FCEF91;
}

.output {
  display: flex;
  
}

#pword, #op1{
border: 1px solid  black;
border-radius: 15px;
  width: 211px;
  height: 39px;
  margin: 20px;

}

button{
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
  width: 140px;
}